@charset "utf-8";
/* CSS Document */
body{
	min-height: 100vh;
	background: url("coni.jpg") no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-section{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info {
	color: #171616;
	max-width: 500px;
	line-height: 50px;
	padding-left: 50px;
	font-size: 30px;
}

.contact-info i{
	margin-right: 20px;
	font-size: 18px;
}
